body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 1rem;
  background: #000000;
}

header,
footer {
  text-align: center;
  margin-bottom: 1rem;
}

.dna-container {
  width: 800px;
  height: 600px;
  position: relative;
  border: 1px solid red;
}

.dna-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

